@font-face {
  font-family: "iconfont"; /* Project id 3251557 */
  src: url('iconfont.woff2?t=1722767772280') format('woff2'),
       url('iconfont.woff?t=1722767772280') format('woff'),
       url('iconfont.ttf?t=1722767772280') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon:before {
  content: "\e65b";
}

.icon-list:before {
  content: "\e615";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-dingdan1:before {
  content: "\e612";
}

.icon-qianbao:before {
  content: "\e63e";
}

.icon-weixin:before {
  content: "\e601";
}

.icon-wenjianshangchuan:before {
  content: "\e616";
}

.icon-duodingdan:before {
  content: "\e69f";
}

.icon-a-jiaoliudianhuazidonghuifu-01:before {
  content: "\e907";
}

.icon-wodezixun:before {
  content: "\e66d";
}

.icon-liwu:before {
  content: "\e600";
}

.icon-wodedamaijihuo:before {
  content: "\e656";
}

.icon-xiaoxi:before {
  content: "\e606";
}

.icon-reguanzhu:before {
  content: "\e617";
}

.icon-liwu1:before {
  content: "\f256";
}

.icon-youhuiquan:before {
  content: "\f25b";
}

.icon-daohang1-mianxing:before {
  content: "\e696";
}

.icon-shengyin_shiti:before {
  content: "\eca5";
}

.icon-dingwei:before {
  content: "\e8c4";
}

.icon-wenjianjia:before {
  content: "\e641";
}

.icon-zixun:before {
  content: "\e61f";
}

.icon-shezhi:before {
  content: "\e61c";
}

.icon-gerenxinxi_o:before {
  content: "\ebcc";
}

.icon-bangding:before {
  content: "\e784";
}

.icon-wendang-docx_doc:before {
  content: "\e6eb";
}

.icon-biaoge-xlxs_xls:before {
  content: "\e6ec";
}

.icon-yanshiwendang-ppt_pptx:before {
  content: "\e6ed";
}

.icon-pdf:before {
  content: "\e6ee";
}

.icon-wenbenwendang-txt:before {
  content: "\e6ef";
}

.icon-tupian-jpg_png:before {
  content: "\e6f3";
}

.icon-shouye1-line:before {
  content: "\e8ca";
}

.icon-wode-line:before {
  content: "\e8cc";
}

.icon-gongzuotai-line:before {
  content: "\e8cd";
}

.icon-shouye-fill:before {
  content: "\e750";
}

.icon-shouye-line:before {
  content: "\e751";
}

.icon-yingyongchengxu-line:before {
  content: "\e8a1";
}

.icon-yingyongchengxu-fill:before {
  content: "\e8a2";
}

.icon-yonghu-line:before {
  content: "\e8c8";
}

.icon-yonghu-fill:before {
  content: "\e8c9";
}

